# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# editors
.vscode
.idea

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build
dist
.npmrc

# misc
.git
.DS_Store
*.cache
.env
*.swp
*.swo
*.tsbuildinfo

npm-debug.log*
yarn-debug.log*
yarn-error.log*
